---
title: SBFT'23 Program
layout: default
---
<div class="col-md-8 ml-auto mr-auto text-left">
    <div class="section section-team text-left">
        <!-- TBA -->

    <h2>Accepted Papers and Tools</h2>
        
    <div class="container">
        <h2 class="subtitle text-center">Fuzzing Tools Competition</h2>
        <div class="table-condensed">
            <table class="program-table">
            {% assign tools = site.data.program.fuzztools | sort: "name" %}
            {% for tool in tools %}
            <tr>
                <td>{{tool.title}}: {{tool.authors}}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>


    <div class="container">
        <h2 class="subtitle text-center">Research Track</h2>
        <div class="table-condensed">
            <table class="program-table">
            {% assign papers = site.data.program.researchpapers | sort: "name" %}
            {% for paper in papers %}
            <tr>
                <td>{{paper.title}}: {{paper.authors}}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>


    <div class="container">
        <h2 class="subtitle text-center">Java Tool Competition</h2>
        <div class="table-condensed">
            <table class="program-table">
            {% assign javatools = site.data.program.javatools | sort: "name" %}
            {% for javatool in javatools %}
            <tr>
                <td>{{javatool.title}}: {{javatool.authors}}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    
    
    <div class="container">
        <h2 class="subtitle text-center">CPS Tool Competition</h2>
        <div class="table-condensed">
            <table class="program-table">
            {% assign cpstools = site.data.program.fuzzPapers | sort: "name" %}
            {% for cpstool in cpstools %}
            <tr>
                <td>{{cpstool.title}}: {{cpstool.authors}}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

        <!-- <div class="container">
            <h2 class="subtitle text-center">Accepted Papers & Tools</h2>
            <div class="table-condensed">
                <h2>Research Track</h2>
                <table class="committee-table">
                    <tr>
                        <td><a target="_blank">Wasserstein Generative Adversarial Networks for
                                Online Test Generation for
                                Cyber Physical Systems</a> <br>
                            <h3 class="paper-authors-accepted">Jarkko Peltomäki, Frankie Spencer and
                                Ivan Porres</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank">A Comparative Evaluation on the Quality of Manual and
                                Automatic Test Case
                                Generation Techniques for Scientific Software - A Case Study of a
                                Python Project for Material
                                Science Workflows</a> <br>
                            <h3 class="paper-authors-accepted">Daniel Trübenbach, Sebastian Müller
                                and Lars Grunske</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank">Towards Run-Time Search for Real-World Multi-Agent
                                Systems</a> <br>
                            <h3 class="paper-authors-accepted">Abigail Diller and Erik M. Fredericks
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank">Learning to Rank for Test Case Prioritization</a>
                            <br>
                            <h3 class="paper-authors-accepted">Safa Omri and Carsten Sinz</h3>
                        </td>
                    </tr>
                </table>

                <h2>Tool Competition</h2>
                <table class="committee-table">
                    <tr>
                        <td><a target="_blank" href="https://github.com/evosuite/EvoSuite"><i class="fas fa-link"></i>
                                EvoSuite</a> <br>
                            <h3 class="paper-authors-accepted">Sebastian Schweikl, Gordon Fraser,
                                Andrea Arcuri</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/vorpal-research/kex/tree/sbst2022"><i
                                    class="fas fa-link"></i> Kex at the 2022 SBST Tool
                                Competition</a> <br>
                            <h3 class="paper-authors-accepted">Azat Abdullin, Marat Akhin, Mikhail
                                Belyaev</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/pderakhshanfar/evosuite/tree/BBC"><i
                                    class="fas fa-link"></i> BBC</a> <br>
                            <h3 class="paper-authors-accepted">Pouria Derakhshanfar, Xavier Devroey
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/UnitTestBot"><i class="fas fa-link"></i> UtBot &
                                UtBot-Mocks</a> <br>
                            <h3 class="paper-authors-accepted">Dmitry Ivanov, Alexey Menshutin,
                                Denis Fokin, Kamenev Yury, Sergey Pospelov, Egor Kulikov, Nikita
                                Stroganov</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/TayYim/adafrenetic-sbst22"><i
                                    class="fas fa-link"></i>AdaFrenetic</a> <br>
                            <h3 class="paper-authors-accepted">SongYang Yan, Ming Fan</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/dgumenyuk/tool-competition-av"><i
                                    class="fas fa-link"></i>AmbieGen</a> <br>
                            <h3 class="paper-authors-accepted">Dmytro Humeniuk, Giuliano Antoniol
                                and Foutse Khomh </h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank"
                                href="https://github.com/ERATOMMSD/tool-competition-av/tree/frenetic-sbst22"><i
                                    class="fas fa-link"></i>FeneticV</a> <br>
                            <h3 class="paper-authors-accepted">Ezequiel Castellano, Stefan
                                Klikovits, Ahmet Cetinkaya, and Paolo Arcaini</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/luistar/tool-competition-av"><i
                                    class="fas fa-link"></i> GenRL</a> <br>
                            <h3 class="paper-authors-accepted">Luigi Libero Lucio Starace, Andrea
                                Romdhana, Sergio Di Martino
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://github.com/chiakangZacHung/tool-competition-av"><i
                                    class="fas fa-link"></i> EvoMBT</a> <br>
                            <h3 class="paper-authors-accepted">Raihana Ferdous, Chia-kang Hung,
                                Fitsum Meshesha Kifetew, Davide Prandi and Angelo Susi</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank">Wogan</a> <br>
                            <h3 class="paper-authors-accepted">Jarkko Peltomäki</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <h2 class="subtitle text-center">Workshop Format</h2>
            <div class="row">
                <table class="program-table">
                    <tr>
                        <td class="program-details" colspan="2"><b>Authors and registered
                                participants</b></td>
                    </tr>
                    <tr>
                        <td class="program-details" colspan="2">
                            <p>
                                SBST 2022 is co-located with <a href="https://conf.researchr.org/home/icse-2022"
                                    target="_blank">ICSE 2022</a>.
                                However, SBST will be completely online.
                                <br>
                                In order to attend SBST, you have to register for our workshop using the official <a
                                    href="https://conf.researchr.org/attending/icse-2022/registration"
                                    target="_blank">ICSE
                                    registration link</a>.
                                <br>
                                Once you registered for SBST, the ICSE team will send you an e-mail with the invitation
                                to attend
                                the conference through <b><a href="https://in.midspace.app/conference/icse2022"
                                        target="_blank">Midspace</a></b>, the virtual conference meeting platform.
                            </p>
                            <p class="paper-title">
                                <b>Similar to last year, we will also live-stream SBST 2022 via <a
                                        href=" https://www.twitch.tv/koxp" target="_blank">Twitch</a></b>. Feel free to
                                join our stream
                                and ask questions in the chat if you are not registered.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="program-details" colspan="2"><b>Recording</b></td>
                    </tr>
                    <td class="program-details">
                        <p class="paper-title">
                            Following the workshop, we will make recordings available online.
                        </p>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-left">
        <div class="section section-team text-center">
            <div class="container">
                <h2 class="subtitle text-center">Workshop Program</h2>
                <p>All times in Central European Summer Time (CEST) - UTC+2</p>
                <br>
            </div>

            <table class="schedule">
                <tr>
                    <td colspan="2">
                        <h6>Session 1</h6>
                    </td>
                </tr>
                <tr>
                    <td class="time">9:15am - 9:30am </td>
                    <td class="session">Introduction</td>
                </tr>
                <tr>
                    <td class="time">9:30am - 10:30am </td>
                    <td class="session">Keynote by Paolo Tonella</td>
                </tr>
                <tr>
                    <td class="time">10:30am - 10:45am </td>
                    <td class="session">Break</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6>Session 2</h6>
                    </td>
                </tr>
                <tr>
                    <td class="time">10:45am - 11:30am </td>
                    <td class="session">Tutorial by Rahul Gopinath</td>
                </tr>
                <tr>
                    <td class="time">11:30am - 12:00pm </td>
                    <td class="session">Paper Session 1 (2 papers)</td>
                </tr>
                <tr>
                    <td class="sub-time">11:30am - 11:45am </td>
                    <td class="sub-session"><a target="_blank">Learning to Rank for Test Case Prioritization</a>
                        <br>
                        <h3 class="paper-authors-accepted">Safa Omri and Carsten Sinz</h3>
                    </td>
                </tr>
                <tr>
                    <td class="sub-time">11:45am - 11:55am </td>
                    <td class="sub-session"><a target="_blank">Wasserstein Generative Adversarial Networks for
                            Online Test Generation for
                            Cyber Physical Systems</a> <br>
                        <h3 class="paper-authors-accepted">Jarkko Peltomäki, Frankie Spencer and
                            Ivan Porres</h3>
                    </td>
                </tr>
                <tr>
                    <td class="time">12:00pm - 1:30pm </td>
                    <td class="session">Lunch</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6>Session 3</h6>
                    </td>
                </tr>
                <tr>
                    <td class="time">1:30pm - 2:00pm </td>
                    <td class="session">Paper Session 2 (2 papers)</td>
                </tr>
                <tr>
                    <td class="sub-time">1:30pm - 1:45pm </td>
                    <td class="sub-session"><a target="_blank">A Comparative Evaluation on the Quality of Manual and
                            Automatic Test Case
                            Generation Techniques for Scientific Software - A Case Study of a
                            Python Project for Material
                            Science Workflows</a> <br>
                        <h3 class="paper-authors-accepted">Daniel Trübenbach, Sebastian Müller
                            and Lars Grunske</h3>
                    </td>
                </tr>
                <tr>
                    <td class="sub-time">1:45pm - 1:55pm </td>
                    <td class="sub-session"><a target="_blank">Towards Run-Time Search for Real-World Multi-Agent
                            Systems</a> <br>
                        <h3 class="paper-authors-accepted">Abigail Diller and Erik M. Fredericks
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td class="time">2:00pm - 4:00pm </td>
                    <td class="session">SBST vs Fuzzing Discussion Panel</td>
                </tr>
                <tr>
                    <td class="time">4:00pm - 4:15pm </td>
                    <td class="session">Break</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6>Session 4</h6>
                    </td>
                </tr>
                <tr>
                    <td class="time">4:15pm - 6:15pm </td>
                    <td class="session">Tool Competition</td>
                </tr>
                <tr>
                    <td class="time">6:15pm - 6:30pm </td>
                    <td class="session">Closing</td>
                </tr>
            </table>

        </div> -->
    </div>
</div>